/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    background: #fff;
}

/* NAVIGATION */
nav {
    background: #0f0f0f;
    padding: 15px 40px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.menu a:hover {
    color: #00aaff;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(135deg, #00aaff, #004f99);
    color: white;
    text-align: center;
    padding-top: 120px;
}

.hero h1 {
    font-size: 3.5rem;
}

.subtitle {
    font-size: 1.4rem;
    margin: 10px 0;
}

.hero-buttons .btn {
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 22px;
    background: white;
    color: #004f99;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.hero-buttons .btn:hover {
    background: #e0e0e0;
}

/* SECTIONS */
section {
    padding: 70px 40px;
    text-align: center;
}

h2 {
    font-size: 2.2rem;
    color: #00aaff;
    margin-bottom: 18px;
}

/* SKILLS */
.skills-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list span {
    background: #dceeff;
    padding: 10px 16px;
    border-radius: 20px;
}

/* PROJECTS */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 18px;
    padding-top: 12px;
}

.project-card {
    background: #fafafa;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

/* CONTACT */
#contact a {
    color: #004f99;
    text-decoration: underline;
}

/* FOOTER */
footer {
    background: #0f0f0f;
    color: #fff;
    padding: 18px;
    font-size: 0.9rem;
}
